body {
    background-image: linear-gradient(to left, #00BCD4,#FF4081) !important;
    height: 100%;
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    font-style:normal;
    margin-top:0;
    font-size:1rem;
    font-weight:400;
    line-height:2rem;
}
h1#title {
    text-align: center;
    color: white;
    line-height: 118px;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: 600;
}
.left {
    margin-left: 5%;
    margin-right: auto;
}
.right
{
    margin-right: 5%;
}
div.whitebg {
    background-color: white;
    overflow: hidden;   
    color: #24292e;
    margin:0 auto;
    border-radius: 8px;
}
.projects {
    background-color: white;
    width: 20%;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #BDBDBD; 
    border-radius: 12px;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
    min-width: 150px;
    margin-bottom: 5%;
}
.projects:hover {
    border: 2px solid #757575;
}
.projects #title {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #212121;
    font-weight: 500;
    line-height: 0;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}
.projects #title:hover {
    text-decoration: underline;
}
.projects #desc {
    text-decoration: none;
    font-size: 14px;
    color: #757575;
    font-weight: 300;
    line-height: 15px;
}
.projects .lang {
    padding: 17px;
    width: 20%;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    line-height: 0px;
    border: none;
    text-align: center;
}

#cpp:hover {
    padding: 15px;
    border: 2px solid #009688;
    border-radius: 8px;
}
#html:hover {
    padding: 15px;
    border: 2px solid #303F9F;
    border-radius: 8px;
}
#css:hover {
    padding: 15px;
    border: 2px solid #D32F2F;
    border-radius: 8px;
}
#proj {
text-decoration: none;
}
#proj:hover {
    color: #757575;
}